:root{
    --cor-de-fundo: #1E1E1E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --branco: #FFFFFF;
    --verde: #6FFF57;
    --botao-inativo:#3A375E;
    --texto-de-fundo: rgba(58, 55, 94, 0.3);
}
